@import "../../scss/variables";
.wrapper_header{
  min-height: 8rem;
  background-color: $color-dark-blue;
  //Make text white, snake invert color
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.header_drone{
  width: 4rem;
  height: auto;
  margin: 0rem 2rem;
  &:hover {
    filter: invert(1);
    transition-duration: 0.5s;
  }
}

.logo-s{
    width: 3rem;
    height: auto;
    align-self: center;
}
.wrapper_logo{
  padding: 2.1rem 0 1.9rem 0rem;
  margin-left: 4rem;
}
.header_text {
  font-weight: 500;
  font-size: 1.8rem;
  width: 38rem;
  margin: 2rem;
  filter: drop-shadow(3px 5px 5px rgb(0,0,0,0.1));
}
.header_car {
    width: 8rem;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: 0;
    top: 51%;
}

.header_city {
  width: 32rem;
  height: auto;
  position: absolute;
  right: -10%;
  bottom: 0;
  top: 22%
}