@import '../../scss/mixins';

.wrapper_footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 10rem;
    @media screen and (max-width: 900px) {
        padding: 2rem;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    background-color: #f5f5f5;
    filter: drop-shadow(0px -6px 4px rgba(0, 0, 0, 0.1));
}

.footer {
    margin: 0 2rem 0rem 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    @media screen and (max-width: 900px) {
        flex-flow: column wrap;
        margin: 0;
    }
}

.funding {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 32rem;
    @media screen and (max-width: 900px) {
        flex-flow: column wrap;
        margin-bottom: 1rem;
        max-width: 24rem;
    }
    &__legal {
        display: flex;
        flex-flow: row;
        @media screen and (max-width: 900px) {
            justify-content: space-between;
            margin-top: 1rem;
        }
    }

    &__eu {
        @media screen and (max-width: 900px) {
            flex-flow: column wrap;
            justify-content: center;
        }
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    &__flag {
        width: auto;
        height: 5rem; /* Size of Funding Image */
        margin-right: 1rem;
        @media screen and (max-width: 900px) {
            margin-right: 0;
        }
    }
}

.social_media {
    @include respond(phone) {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    &__links {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        @include respond(phone) {
            justify-content: center;
        }
    }
}

.icon {
    width: 2rem;
    height: auto;

    @media screen and (min-width: 1600px) {
        width: 2.25rem;
    }
}

.gap {
    margin: 0 1rem;
}

.buildings {
    position: absolute;
    width: 100vw;
    height: auto;
    bottom: 0;
    filter: contrast(10%) brightness(1.75);
    z-index: -1;
    @include respond(phone) {
        filter: contrast(100%) brightness(1);
    }
}
