<div class="wrapper_footer">
    <img class="buildings" src="assets/images/symaware/buildings.png" />
    <footer class="footer">
        <div class="funding">
            <div class="funding__eu">
                <img
                    class="funding__flag"
                    src="../../assets/images/consortium/eu-flag.png"
                    alt="European Union Flag"
                />
                <p class="paragraph__small">
                    This project has received funding from the Horizon Europe –
                    the Framework Programme for Research and Innovation, under
                    the grant agreement 101070802.
                </p>
            </div>
            <div class="funding__legal">
                <a
                    href="https://data-protection.mpi-klsb.mpg.de/sws/symaware.eu"
                    target="_blank"
                    class="paragraph__small u-text-underline__sand"
                >
                    Data Protection
                </a>
                <p class="paragraph__small gap">|</p>
                <a
                    href="https://imprint.mpi-klsb.mpg.de/sws/symaware.eu"
                    target="_blank"
                    class="paragraph__small u-text-underline__sand"
                >
                    Imprint
                </a>
            </div>
        </div>
        <div class="social_media">
            <h2 class="heading_tertiary u-text-center">Follow us:</h2>
            <div class="social_media__links">
                <a
                    href="https://www.linkedin.com/company/symaware/"
                    target="_blank"
                >
                    <img
                        class="icon"
                        src="../../assets/icons/logo-linkedin-black.png"
                        alt="LinkedIn Logo"
                    />
                </a>
                <a href="https://twitter.com/SymAware" target="_blank">
                    <img
                        class="icon"
                        src="../../assets/icons/logo-twitter-black.png"
                        alt="Twitter Logo"
                    />
                </a>
                <a
                    href="https://www.youtube.com/@SymAwareProject/featured"
                    target="_blank"
                >
                    <img
                        class="icon"
                        src="../../assets/icons/logo-youtube-black.png"
                        alt="Youtube Logo"
                    />
                </a>
            </div>
        </div>
    </footer>
</div>
