<div class="wrapper_footer">
    <footer class="footer">
        <div class="funding">
            <div class="funding__eu">
                <img class="funding__flag" src="../../assets/images/consortium/eu-flag.png">
                <p class="paragraph">
                    This project has received funding from the Horizon Europe – the Framework Programme for
                    Research and Innovation, under the grant agreement 101070802.
                </p>
            </div>
            <div class="funding__legal">
                <a class="paragraph u-text-underline__sand">
                    Data Protection
                </a>
                <p class="paragraph gap">
                    |
                </p>
                <a class="paragraph u-text-underline__sand">
                    Imprint
                </a>
            </div>
        </div>
        <div class="social_media">
            <h2 class="heading_secondary u-text-center">
                Follow us:
            </h2>
            <div class="social_media__links">
                <a href="https://www.linkedin.com/company/symaware/">
                    <img class="icon" src="../../assets/icons/logo-linkedin-black.png">
                </a>
                <a href="https://twitter.com/SymAware">
                    <img class="icon" src="../../assets/icons/logo-twitter-black.png">
                </a>
                <a href="https://www.youtube.com/@SymAwareProject/featured">
                    <img class="icon" src="../../assets/icons/logo-youtube-black.png">
                </a>
            </div>
        </div>
    </footer>
</div>