<div class="wrapper_consortium">
    <div class="heading_primary__white u-text-underline__sand a-fade-in">
        Project Consortium
    </div>
    <div class="consortium a-moveIn-bottom">
        <div class="consortium_box">
            <a
                class="consortium_box__image"
                href="https://www.mpi-sws.org/"
                target="_blank"
            >
                <img
                    class="consortium_box__members"
                    src="../../assets/images/consortium/MPI-SWS.png"
                    alt="Max Plack Institute logo"
                />
            </a>
            <p class="paragraph__dark consortium_box__text">
                <u
                    ><a href="https://www.mpi-sws.org/" target="_blank">
                        Max Planck Institute for Software Systems (MPI-SWS)
                    </a></u
                >
                studies the principles of efficient, dependable, secure, and
                usable computing systems, as well as their interaction with the
                physical and social context in which they operate. The Institute
                conducts foundational research in relevant areas of computer
                science and beyond, covering theory, empirical analysis, and
                data-driven investigation.
            </p>
            <a
                href="https://hycodev.com"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u> Dr. Sadegh Soudjani </u>
            </a>
        </div>
        <div class="consortium_box">
            <div class="consortium_box__image">
                <a href="https://www.kth.se/en" target="_blank">
                    <img
                        class="consortium_box__members"
                        src="assets/images/consortium/kth.png"
                        alt="KTH Royal Institute of Technology logo"
                    />
                </a>
            </div>
            <p class="paragraph__dark consortium_box__text">
                <a href="https://www.kth.se/en" target="_blank"
                    ><u>Kungliga Tekniska Högskolan(KTH)</u></a
                >
                is Sweden's largest technical research institution and has grown
                to become one of Europe's leading technical and engineering
                universities. KTH holds expertise in the areas of multi-agent
                planning and control with an emphasis on human-in-the-loop and
                formal languages based methods. KTH will be involved in the
                project through the
                <a href="https://www.kth.se/en/eecs" target="_blank"
                    >School of Electrical Engineering and Computer Science</a
                >, which has been participating in many EU and national
                projects.
            </p>
            <a
                href="https://people.kth.se/~dimos/"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Prof. Dimos V. Dimarogonas</u>
            </a>
        </div>
        <div class="consortium_box">
            <a
                class="consortium_box__image"
                href="https://www.tue.nl/en/"
                target="_blank"
            >
                <img
                    class="consortium_box__members"
                    src="assets/images/consortium/tue.png"
                    alt="Eindhoven University of Technology logo"
                />
            </a>
            <p class="paragraph__dark consortium_box__text">
                <a href="https://www.tue.nl/en/" target="_blank"
                    ><u>Technische Universiteit Eindhoven (TU/e) </u></a
                >
                is a research-driven university of international standing, where
                excellent research and excellent education go hand in hand. TU/e
                focus on a balanced approach towards education, research and
                valorization of knowledge in the areas of engineering science
                and technology. It works in close collaboration with other
                universities, scientific institutes, social organizations,
                government, and industry.
            </p>
            <a
                href="https://www.tue.nl/en/research/research-groups/control-systems"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u> Dr. Sofie Haesaert </u>
            </a>
        </div>
        <div class="consortium_box">
            <div class="consortium_box__image">
                <a href="https://www.uu.se/" target="_blank">
                    <img
                        class="consortium_box__members"
                        src="assets/images/consortium/uu.png"
                        alt="Uppsala University logo"
                    />
                </a>
            </div>
            <p class="paragraph__dark consortium_box__text">
                <a href="https://www.uu.se/" target="_blank"
                    ><u>Uppsala University (UU)</u></a
                >
                is a broad research university with a clear mission: To pursue
                top-quality research and education and to interact
                constructively with society, to contribute in different ways to
                a better world. Uppsala University strives to bring new
                perspectives to the basic questions of science as well as
                knowledge contributing to sustainable development and human
                health.
            </p>
            <a
                href="https://usr-lab.github.io"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Prof. Ginevra Castellano </u>
            </a>
        </div>
        <div class="consortium_box">
            <a
                href="https://www.nlr.org/"
                target="_blank"
                class="consortium_box__image"
            >
                <img
                    class="consortium_box__members"
                    src="assets/images/consortium/nlr.png"
                    alt="Netherlands Aerospace Center logo"
                />
            </a>
            <p class="paragraph__dark consortium_box__text">
                <a href="https://www.nlr.org/" target="_blank"
                    ><u>Netherlands Aerospace Centre’s (NLR)</u></a
                >
                mission is to make air operations and space exploration safer,
                more sustainable and more efficient. The multidisciplinary
                approach of NLR focuses on developing new and cost-effective
                technologies for aviation and space, from design support to
                production technology and MRO (Maintenance, Repair and
                Overhaul). With its unique expertise and state-of-the-art
                facilities, NLR is bridging the gap between research and
                application.
            </p>
            <a
                href="https://www.nlr.org/"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Dr. Sybert Stroeve</u>
            </a>
        </div>
        <div class="consortium_box">
            <a
                href="https://www.siemens.com/"
                target="_blank"
                class="consortium_box__image"
            >
                <img
                    class="consortium_box__members"
                    src="assets/images/consortium/siemens.png"
                    alt="Siemens logo"
                />
            </a>

            <p class="paragraph__dark consortium_box__text">
                <a href="https://www.siemens.com/" target="_blank"
                    ><u>Siemens Industry Software Netherlands B.V. (SISW)</u></a
                >
                is driving transformation to enable a digital enterprise where
                engineering, manufacturing and electronics design meet tomorrow.
                The solutions provided by SISW help companies of all sizes to
                create and leverage digital twins that provide organizations
                with new insights, opportunities, and levels of automation to
                drive innovation.
            </p>
            <a
                href="https://plm.sw.siemens.com/en-US/simcenter/autonomous-vehicle-solutions"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Dr. Mohsen Alirezaei</u>
            </a>
        </div>
    </div>
</div>
