<div class="wrapper_consortium">
    <div class="heading_primary__white u-text-underline__sand a-fade-in">
        Project Consortium
    </div>
    <div class="consortium a-moveIn-bottom">
        <div class="consortium_box">
            <a
                class="consortium_box__image"
                href="https://www.mpi-sws.org/"
                target="_blank"
            >
                <img
                    class="consortium_box__members"
                    src="../../assets/images/consortium/MPI-SWS.png"
                    alt="Max Plack Institute logo"
                />
            </a>
            <p class="paragraph consortium_box__text">
                <u
                    ><a href="https://www.mpi-sws.org/" target="_blank">
                        Logical characterization of awareness in robots through
                        symbolic methods:
                    </a></u
                >
                Creating a logic-based framework for robots with internal
                awareness, collaborating with humans. A new symbolic temporal
                logic for MASs includes "knowledge" propositions and awareness
                operators, capturing relative conceptual awareness between
                robots. The logic encodes situational awareness in MASs,
                enabling automated logic-founded reasoning and verification,
                implemented in an open-source computational toolbox.
            </p>
            <a
                href="https://hycodev.com"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u> Dr. Sadegh Soudjani </u>
            </a>
        </div>
        <div class="consortium_box">
            <div class="consortium_box__image">
                <a href="https://www.kth.se/en" target="_blank">
                    <img
                        class="consortium_box__members"
                        src="assets/images/consortium/kth.png"
                        alt="KTH Royal Institute of Technology logo"
                    />
                </a>
            </div>
            <p class="paragraph consortium_box__text">
                <a href="https://www.kth.se/en" target="_blank"
                    ><u>Spatio-temporal awareness in task planning:</u></a
                >
                The next step is quantifying symbolic reasoning for awareness
                (from the first Objective) with spatial and temporal elements.
                Spatio-temporal logics model awareness, defining quantifiable
                space and time matrices for system tasks. Using these
                matrices,to create spatio temporal awareness as decision-making
                factors in single and multi-agent task planning. Address
                complexity and scalability in spatio temporal awareness-based
                decision-making with decentralized solutions.
            </p>
            <a
                href="https://people.kth.se/~dimos/"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Prof. Dimos V. Dimarogonas</u>
            </a>
        </div>
        <div class="consortium_box">
            <a
                class="consortium_box__image"
                href="https://www.tue.nl/en/"
                target="_blank"
            >
                <img
                    class="consortium_box__members"
                    src="assets/images/consortium/tue.png"
                    alt="Eindhoven University of Technology logo"
                />
            </a>
            <p class="paragraph consortium_box__text">
                <a href="https://www.tue.nl/en/" target="_blank"
                    ><u>Risk awareness via quantified knowledge: </u></a
                >
                Agents (robots and humans) will gain awareness of individual and
                multi-agent risks. This requires extending risk quantification
                and awareness to agents' symbolic reasoning in uncertain
                environments and developing methods to communicate risk to
                humans. Risks are differentiated based on quantifiable
                likelihood (predictable uncertainty) and unforeseen changes,
                ensuring safety in the system by quantifying both risk types
                based on available knowledge for each agent.
            </p>
            <a
                href="https://www.tue.nl/en/research/research-groups/control-systems"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u> Dr. Sofie Haesaert </u>
            </a>
        </div>
        <div class="consortium_box">
            <div class="consortium_box__image">
                <a href="https://www.uu.se/" target="_blank">
                    <img
                        class="consortium_box__members"
                        src="assets/images/consortium/uu.png"
                        alt="Uppsala University logo"
                    />
                </a>
            </div>
            <p class="paragraph consortium_box__text">
                <a href="https://www.uu.se/" target="_blank"
                    ><u
                        >Quantifying and communicating knowledge awareness:
                    </u></a
                >
                We aim to enhance human-robot interaction through social
                awareness, transparency, and knowledge abstraction, fostering
                sustainable autonomy and communication between robots and
                humans.
                <u
                    >Identify requirements for ethical and trustworthy awareness
                    in human-agent interaction:
                </u>
                We aim to develop user-centered design methods for trustworthy
                human-agent interaction in MASs, addressing ethical aspects,
                safety, fairness, and bias prevention.
            </p>
            <a
                href="https://usr-lab.github.io"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Prof. Ginevra Castellano </u>
            </a>
        </div>
        <div class="consortium_box">
            <a
                href="https://www.nlr.org/"
                target="_blank"
                class="consortium_box__image"
            >
                <img
                    class="consortium_box__members"
                    src="assets/images/consortium/nlr.png"
                    alt="Netherlands Aerospace Center logo"
                />
            </a>
            <p class="paragraph consortium_box__text">
                <a href="https://www.nlr.org/" target="_blank"
                    ><u>Demonstrate awareness engineering in aviation: </u></a
                >

                The SymAware approach for awareness engineering will be
                implemented and validated in two use cases. A first use case
                concerns modelling, simulation and risk assessment of unmanned
                aircraft systems traffic management (UTM) for drone operations
                in an urban environment, including disturbances and hazards
                during operations
            </p>
            <a
                href="https://www.nlr.org/"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Dr. Sybert Stroeve</u>
            </a>
        </div>
        <div class="consortium_box">
            <a
                href="https://www.siemens.com/"
                target="_blank"
                class="consortium_box__image"
            >
                <img
                    class="consortium_box__members"
                    src="assets/images/consortium/siemens.png"
                    alt="Siemens logo"
                />
            </a>

            <p class="paragraph consortium_box__text">
                <a href="https://www.siemens.com/" target="_blank"
                    ><u
                        >Demonstrate awareness engineering in automotive use
                        cases:</u
                    ></a
                >
                A second use case uses the SymAware methods for simulation and
                analysis of higher levels of autonomous vehicles, assuring
                functional safety (due to failures) as well as Safety of the
                Intended Functionality (SOTIF). Both use cases will evaluate the
                effectiveness of various awareness strategies and their
                implications for design.
            </p>
            <a
                href="https://plm.sw.siemens.com/en-US/simcenter/autonomous-vehicle-solutions"
                target="_blank"
                class="paragraph__dark consortium_box__text"
            >
                Team Leader: <u>Dr. Mohsen Alirezaei</u>
            </a>
        </div>
    </div>
</div>
