<div class="container">
    <div class="background">
        <img src="assets/images/symaware/background.png" />
    </div>
    <div class="wrapper_text">
        <h1 class="heading_primary">Learn more about our work</h1>
        <p class="paragraph__highlighted__light">
            Watch our demonstrations to discover our recent milestones and
            software development.
        </p>
    </div>

    <div class="wrapper_videobox">
        <iframe
            src="https://www.youtube.com/embed/r6tH55syq0o"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="videobox"
        ></iframe>
        <p class="paragraph">Description of important demonstration</p>
    </div>
</div>
