<div class="container a-fade-in">
    <section class="u-margin-bottom">
        <h1 class="heading_primary u-text-underline__sand u-margin-none">
            EIC Pathfinder Challenge
        </h1>
        <h1 class="heading_secondary u-margin-bottom dynamic--underline">
            About the “Awareness Inside” Challenge
        </h1>
        <div class="u-margin-bottom">
            <p class="paragraph u-margin-bottom__small t-color-black pag">
                Awareness and consciousness have been high on the Artificial
                Intelligence (AI) research agenda for decades. Progress has been
                difficult because it has been hard to agree on exactly what it
                means to be aware. Most researches would agree though that we do
                not have any truly aware artificial system yet, that awareness
                is much more than a sensorial sophistication and that it is much
                more than any Artificial Intelligence as we know it. But, what
                is it then that a user would expect from a service or device
                that has ‘awareness inside’?
            </p>
            <p class="paragraph u-margin-bottom__small t-color-black pag">
                Most scientific and philosophical accounts of awareness are
                based on a human subject perspective and at an individual level.
                They address the question of what it means for an individual
                human subject to be aware of, e.g., the environment, time or
                oneself and how one can assess awareness in this context. The
                problem is relevant, certainly, since many clinical and
                cognitive conditions can be linked to awareness issues. The
                concept is also relevant to emerging technologies as it has been
                argued, for instance, that humans will not accept robots (or
                chatbots, or decision support systems) as trustable partners if
                they cannot ascribe some form of awareness and true
                understanding to them.
            </p>
            <p class="paragraph u-margin-bottom__small t-color-black pag">
                The individual human-centric concept of consciousness hinders
                the application of awareness as a measurable feature of any
                sufficiently complex system. The study of awareness in other
                species and artefacts, or even more elusive concepts such as
                social awareness require a new perspective applicable to many
                systems. It can then also serve to attack the inter-subjective
                state and experience of awareness (i.e., what is it like to
                interact with an aware robot that, most probably, does not have
                the same kind of awareness than the human?), or to include
                non-conscious objects into the sphere of awareness (e.g., to
                become aware of the time without looking at the watch).
            </p>
            <p class="paragraph u-margin-bottom__small t-color-black pag">
                For technologies, awareness principles would allow a step-up in
                engineering complex systems, making them more resilient,
                self-developing and human-centric. Awareness is a prerequisite
                for a real and contextualised understanding of a problem or
                situation and to adapt ones actions (and their consequences) to
                the specific circumstances. Ultimately, awareness serves the
                coherent and purposeful behaviour, learning, adaptation and
                self-development of intelligent systems over longer periods of
                time.
            </p>
        </div>

        <button class="button paragraph">
            <a
                href="https://eic.ec.europa.eu/eic-funding-opportunities/calls-proposals/eic-pathfinder-challenge-awareness-inside_en"
                target="_blank"
            >
                Find Out More About the "Awareness inside challenge"
            </a>
        </button>
    </section>
    <section class="u-margin-bottom">
        <h2 class="heading_secondary dynamic--underline">
            Project Portfolio Members
        </h2>
        <p>
            The projects approved in this EIC Pathfinder Challenge “Awareness
            Inside” were expected to address each of the following three
            expected outcomes:
        </p>
        <ul class="container__list">
            <li>
                New concepts of awareness that are applicable to systems other
                than human, including technological ones, with implications of
                how it can be recognised or measured.
            </li>
            <li>
                Demonstrate and validate the role and added-value of such an
                awareness in an aware technology, class of artefacts or services
                for which the awareness features lead to a truly different
                quality in terms of, e.g., performance, flexibility, reliability
                or user-experience.
            </li>
            <li>
                Define an integrative approach for awareness engineering, its
                technological toolbox, the needs and implications and its
                limits, including ethical and regulatory requirements.
            </li>
        </ul>
        <p>
            In addition to EMERGE, seven other projects were approved in this
            EIC Pathfinder Challenge “Awareness Inside” call, listed below.
        </p>
    </section>
    <section class="container__partners">
        <div class="container__partner-box">
            <div class="column">
                <img
                    class="container__image"
                    src="assets/images/pathfinder/astound.png"
                />

                <div class="container__icons u-margin-bottom">
                    <a
                        href="https://twitter.com/ASTOUND_project"
                        target="_blank"
                    >
                        <img
                            class="container__icon"
                            src="assets/icons/logo-twitter-black.png"
                        />
                    </a>
                    <a
                        href="https://www.linkedin.com/company/astound-ai/"
                        target="_blank"
                    >
                        <img
                            class="container__icon"
                            src="assets/icons/logo-linkedin-black.png"
                        />
                    </a>
                </div>
                <a
                    href="https://blogs.upm.es/astound/"
                    target="_blank"
                    class="paragraph button"
                    >Visit Website</a
                >
            </div>
            <div class="column">
                <h3 class="heading_primary u-margin-none">ASTOUND</h3>
                <h4 class="heading_four">
                    Improving social competences of virtual agents through
                    artificial consciousness based on the Attention Schema
                    Theory
                </h4>
                <p class="paragraph__light">
                    ASTOUND proposes an Integrative Approach For Awareness
                    Engineering to establish consciousness in machines. The
                    approach consists of an AI architecture for Artificial
                    Consciousness based on the Attention Schema Theory (AST), a
                    novel approach to social cognition that reconciles some of
                    the current most debated cognitive neuroscience theories of
                    consciousness. According to the AST, the brain constructs
                    subjective awareness as a schematic model of the process of
                    attention, suggesting that an information-processing machine
                    could attribute consciousness properties to others in a
                    similar way. The AST-based architecture proposed by ASTOUND
                    will combine an Attention Mechanism provided by the
                    attentional layers in a deep neural architecture and a Long
                    Term Memory module allowing interplay between internal and
                    external stimuli (data) with an Attention Schema that will
                    determine empathic and trustworthy decision-making.
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container__partner-box">
            <div class="column">
                <img
                    class="container__image"
                    src="assets/images/pathfinder/cavaa.png"
                />

                <a
                    href="https://cavaa.eu/"
                    target="_blank"
                    class="paragraph button"
                    >Visit Website</a
                >
            </div>
            <div class="column">
                <h3 class="heading_primary u-margin-none">CAVAA</h3>
                <h4 class="heading_four">
                    Counterfactual Assessment and Valuation for Awareness
                    Architecture
                </h4>
                <p class="paragraph__light">
                    The CAVAA project proposes that awareness serves survival in
                    a world governed by hidden states, to deal with the
                    “invisible”, from unexplored environments to social
                    interaction that depends on the internal states of agents
                    and moral norms. Awareness reflects a virtual world, a
                    hybrid of perceptual evidence, memory states, and inferred
                    “unobservables”, extended in space and time. The CAVAA
                    project will realize a theory of awareness instantiated as
                    an integrated computational architecture and its components
                    to explain awareness in biological systems and engineer it
                    in technological ones. It will realize underlying
                    computational components of perception, memory,
                    virtualization, simulation, and integration, embody the
                    architecture in robots and artificial agents, validate it
                    across a range of use-cases involving the interaction
                    between multiple humans and artificial agents, using
                    accepted measures and behavioural correlates of awareness.
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container__partner-box">
            <div class="column">
                <img
                    class="container__image"
                    src="assets/images/pathfinder/emerge.png"
                />

                <div class="container__icons u-margin-bottom">
                    <a href="https://twitter.com/EIC_EMERGE" target="_blank">
                        <img
                            class="container__icon"
                            src="assets/icons/logo-twitter-black.png"
                        />
                    </a>
                    <a
                        href="https://www.linkedin.com/company/eic-emerge/"
                        target="_blank"
                    >
                        <img
                            class="container__icon"
                            src="assets/icons/logo-linkedin-black.png"
                        />
                    </a>
                </div>
                <a
                    href="https://eic-emerge.eu/"
                    target="_blank"
                    class="paragraph button"
                    >Visit Website</a
                >
            </div>
            <div class="column">
                <h3 class="heading_primary u-margin-none">EMERGE</h3>
                <h4 class="heading_four">
                    Emergent Awareness from Minimal Collectives
                </h4>
                <p class="paragraph__light">
                    When intelligence is distributed across many parts, be they
                    robots, devices, or objects, it can be tricky for the bigger
                    picture to emerge. Yet answering these questions is key to
                    making collective systems that are easy to design, monitor
                    and control. EMERGE will deliver a new philosophical,
                    mathematical, and technological framework to demonstrate,
                    both theoretically and experimentally, how a collaborative
                    awareness – a representation of shared existence,
                    environment and goals – can arise from the interactions of
                    elemental artificial entities. In this effort, we will rely
                    only on unstructured conditions that the real world demands
                    without leveraging a pre-existing shared language between
                    them. Our goal is to surpass the limitations and barriers of
                    the current state-of-the-art distributed systems to produce
                    breakthroughs and open new markets in the next generation of
                    robotic systems.
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container__partner-box">
            <div class="column">
                <img
                    class="container__image"
                    src="assets/images/pathfinder/metatool.png"
                />

                <div class="container__icons u-margin-bottom">
                    <a href="https://twitter.com/MetaTool_EU" target="_blank">
                        <img
                            class="container__icon"
                            src="assets/icons/logo-twitter-black.png"
                        />
                    </a>
                    <a
                        href="https://www.youtube.com/channel/UCi2e3HqATd2bFhbuzkEVGdA"
                        target="_blank"
                    >
                        <img
                            class="container__icon"
                            src="assets/icons/logo-youtube-black.png"
                        />
                    </a>
                </div>
                <a
                    href="https://www.metatool-project.eu/"
                    target="_blank"
                    class="paragraph button"
                    >Visit Website</a
                >
            </div>
            <div class="column">
                <h3 class="heading_primary u-margin-none">METATOOL</h3>
                <h4 class="heading_four">
                    A metapredictive model of synthetic awareness for enabling
                    tool invention
                </h4>
                <p class="paragraph__light">
                    METATOOL aims to provide a computational model of synthetic
                    awareness to enhance adaptation and achieve tool invention.
                    This will enable a robot to monitor and self-evaluate its
                    performance, ground and reuse this information for adapting
                    to new circumstances, and finally unlock the possibility of
                    creating new tools.Under the predictive account of
                    awareness, and based on both neuroscientific and
                    archeological evidence, we will: 1) develop a novel
                    computational model of metacognition based on predictive
                    processing (metaprediction) and 2) validate its utility in
                    real robots in two use case scenarios: conditional
                    sequential tasks and tool creation. METATOOL will provide a
                    blueprint for the next generation of artificial systems and
                    robots that can perform adaptive, and anticipative, control
                    with and without tools (improved technology),
                    self-evaluation (novel explainable AI), and invent new tools
                    (disruptive innovation).
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container__partner-box">
            <div class="column">
                <img
                    class="container__image"
                    src="assets/images/pathfinder/sustain.png"
                />
                <a
                    href="https://sustain-project.eu/"
                    target="_blank"
                    class="paragraph button"
                    >Visit Website</a
                >
            </div>
            <div class="column">
                <h3 class="heading_primary u-margin-none">SUSTAIN</h3>
                <h4 class="heading_four">
                    Smart Building Sensitive to Daily Sentiment
                </h4>
                <p class="paragraph__light">
                    SUST(AI)N derives theoretical & experimental underpinnings
                    to combine novel distributed intelligence, unprecedented
                    sensing accuracy, and reconfigurable hardware in a smart
                    building context into a conscious organism that achieves
                    self-awareness through probabilistic reasoning across its
                    connected sustainable devices. SUST(AI)N constitutes the
                    first concentrated effort to explore novel advances in
                    distributed intelligence, reconfigurable hardware, and
                    environmental sensing to establish awareness for smart
                    buildings that reaches global availability of information
                    (C11; through data aggregation across connected
                    reconfigurable hardware), and self-monitoring (C21; via
                    distributed probabilistic intelligence and the sensing of
                    group sentiment).
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container__partner-box">
            <div class="column">
                <img
                    class="container__image"
                    src="assets/images/pathfinder/symbiotik.png"
                />

                <div class="container__icons u-margin-bottom">
                    <a href="https://twitter.com/symbiotik_viz" target="_blank">
                        <img
                            class="container__icon"
                            src="assets/icons/logo-twitter-black.png"
                        />
                    </a>
                </div>
                <a
                    href="https://symbiotik-infovis.eu/"
                    target="_blank"
                    class="paragraph button"
                    >Visit Website</a
                >
            </div>
            <div class="column">
                <h3 class="heading_primary u-margin-none">SYMBIOTIK</h3>
                <h4 class="heading_four">
                    Context-aware adaptive visualizations for critical decision
                    making
                </h4>
                <p class="paragraph__light">
                    SYMBIOTIK envisions an effortless interaction dialogue
                    between human and Information Visualization (InfoVis)
                    systems to support decision making processes, inspired by
                    known biological principles and guided by artificial
                    intelligence (AI). Critically, this dialogue requires AI
                    solutions with context awareness, emotion sensing, and
                    expressing capabilities. We propose a novel framework where
                    both the human and the machine cooperate towards a common
                    goal and evolve together. Awareness principles will allow us
                    to engineer complex systems, making them more resilient and
                    more human-centric. We will define an integrative approach
                    for awareness engineering and propose a specific open source
                    implementation. Finally, we will demonstrate and validate
                    the role and added-value of such an awareness framework in
                    two scenarios: supporting novice-to-expert transitions and
                    critical decision making.
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container__partner-box">
            <div class="column">
                <img
                    class="container__image"
                    src="assets/images/pathfinder/valawai.png"
                />

                <div class="container__icons u-margin-bottom">
                    <a href="https://twitter.com/ValawaiEU" target="_blank">
                        <img
                            class="container__icon"
                            src="assets/icons/logo-twitter-black.png"
                        />
                    </a>
                </div>
                <a
                    href="https://valawai.eu/"
                    target="_blank"
                    class="paragraph button"
                    >Visit Website</a
                >
            </div>
            <div class="column">
                <h3 class="heading_primary u-margin-none">VALAWAI</h3>
                <h4 class="heading_four">
                    Value-Aware Artificial Intelligence
                </h4>
                <p class="paragraph__light">
                    The VALAWAI project will develop a toolbox to build
                    Value-Aware AI resting on two pillars both grounded in
                    science: An architecture for consciousness inspired by the
                    Global Neuronal Workspace model developed on the basis of
                    neurophysiological evidence and psychological data, and a
                    foundational framework for moral decision-making based on
                    psychology, social cognition and social brain science. The
                    project will demonstrate the utility of Value-Aware AI in
                    three application areas for which a moral dimension urgently
                    needs to be included: (i) social media, where we see many
                    negative side effects such as disinformation, polarisation,
                    and the instigation of asocial and immoral behavior, (ii)
                    social robots, which are designed to be helpful or influence
                    human behavior in positive ways but potentially enable
                    manipulation, deceit and harmful behavior, and (iii) medical
                    protocols, where VALAWAI tries to ensure medical decision
                    making is value aligned.
                </p>
            </div>
        </div>
    </section>
</div>
