@import '../../scss/variables';
@import '../../scss/mixins';
.container {
    margin: 4rem 6rem 6rem 6rem;
    padding: 0 9rem;
    @include respond(tab-land) {
        margin: 3rem 4rem;
        padding: 0;
    }
    @include respond(phone) {
        margin: 3rem 2rem;
        padding: 0;
    }

    &__list {
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        margin: 1rem 0 2rem 3rem;
    }

    &__partner-box {
        padding: 2rem;
        display: flex;
        flex-flow: nowrap row;
        min-height: 16rem;
        //background-color: rgb($color-sand, 0.2);
        border-radius: 0rem;
        @include respond(phone) {
            flex-flow: column-reverse wrap;
            padding: 0rem;
        }
    }

    &__image {
        height: 12rem;
        width: 12rem;
        padding: 1rem;

        //box-shadow: 0 5px 5px rgb($color-black, 0.25);
        object-fit: contain;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }

    &__icons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__partners {
        display: flex;
        flex-flow: column wrap;
        gap: 2rem;
        @include respond(phone) {
            gap: 2rem;
        }
    }
}
.column {
    display: flex;
    flex-flow: column;
    justify-content: center;

    &:first-of-type {
        margin-right: 2rem;
    }
    @include respond(phone) {
        align-content: center;
        align-self: center;
        &:first-of-type {
            margin-right: 0rem;
        }
    }
}
.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8rem;
}
.button {
    padding: 0.5rem;
    background-color: white;
    border: rgb($color-dark-grey, 0.25) solid 0.1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    text-align: center;
    filter: drop-shadow(0 5px 5px rgb($color-black, 0.2));
    &:hover {
        scale: 1.02;
        transition: 0.2s;
    }
}
section {
    margin: 2rem 0 4rem 0;
}

.divider {
    height: 0.1rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: rgb($color-dark-grey, 0.25);
}

.intro {
    &__box {
        position: relative;
    }
}
