<div class="wrapper_contact">
    <img src="assets/images/SymAware_Blue_Vector.svg" class="image_contacts">
    <div class="wrapper_box">
        <div class ="wrapper_box__contacts">
            <h1 class="heading_primary u-text-underline">
                Join our Newsletter
            </h1>
            <p>
                If you want to follow our work or want to participate in our workshops please register as a
                SymAware follower. You will receive periodic newsletters, workshop invitations, project deliverables
                and links to open-source software.
            </p>
        </div>
        <div class ="wrapper_box__contacts">
            <h1 class="heading_primary">
                Follow us on:
            </h1>
            <div class="wrapper_media">
                <div class="media">
                    <img src="./assets/icons/logo_linkedin.png" class="media__img">
                    <p class="media__name">
                        LinkedIn
                    </p>
                </div>
                <div class="media">
                    <img src="./assets/icons/logo_twitter.png" class="media__img">
                    <p class="media__name">
                        Twitter
                    </p>
                </div>
                <div class="media">
                    <img src="./assets/icons/logo_youtube.png" class="media__img">
                    <p class="media__name">
                        Youtube
                    </p>
                </div>
            </div>

        </div>
        <div class ="wrapper_box__contacts">
            <h1 class="heading_primary u-text-underline">
                Join our team:
            </h1>
            <div class="media">
                <img src="./assets/icons/logo_findphd.png" class="media__img_big">
                <p class="media__name">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

</div>