.wrapper_contact{
    margin: 0;
    //position: relative;
  background-image: url("../../assets/images/SymAware_Blue_Vector.svg");
  background-repeat: no-repeat ;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10rem 1rem;

    &__contacts {
        background-color: #F5F5F5;
        border-radius: 1rem;
        height: 15rem;
        width: 22.5rem;
        padding: 1rem 2rem 2rem 2rem;
        margin: 2rem;
    }

  .wrapper_media{
    display: flex;
    align-content: flex-start;
    flex-flow: wrap column;
    margin-top: 1rem;
  }
    .media{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-flow: row nowrap;
        padding: 1rem 0;
        text-decoration: none;

        &__padded {
          padding-top: 2rem;
        }
        &__img {
            height: auto;
            width: 25px;
            align-self: center;
            margin-right: 1.5rem;
            &_big{
              height: 100px;
              margin-right: 1rem;
            }
        }
        &__name {
              display: inline-block;
              text-align: left;
              margin: 0;
        }
    }
}
