<div class="wrapper_contact">
  <div class="heading_primary__white u-text-underline__sand a-fade-in">
    Contact Us
  </div>
  <div class="wrapper_box a-moveIn-bottom">
    <div class="wrapper_box__contacts">
      <h1 class="heading_primary u-text-underline">Join Us:</h1>
      <p class="paragraph">
        If you want to follow our work or want to participate in our workshops
        please register as a SymAware follower. You will receive periodic
        newsletters, workshop invitations, project deliverables and links to
        open-source software.
      </p>
      <p class="paragraph__highlighted__dark">
        You can register as a SymAware follower
        <a
          href="https://symaware.copernica.tue.nl/subscribe_symaware"
          target="_blank"
        >
          <u>here.</u>
        </a>
      </p>
    </div>
    <div class="wrapper_box__contacts">
      <h1 class="heading_primary">Follow us on:</h1>
      <div class="wrapper_media">
        <div>
          <a href="https://www.linkedin.com/company/symaware/" class="media">
            <img
              src="../../assets/icons/logo_linkedin-regular.png"
              class="media__img"
              alt="LinkedIn Logo"
            />
            <p class="media__name paragraph__highlighted__light">LinkedIn</p>
          </a>
        </div>
        <div>
          <a href="https://twitter.com/SymAware" class="media">
            <img
              src="../../assets/icons/logo-twitter-regular.png"
              class="media__img"
              alt="Twitter Logo"
            />
            <p class="media__name paragraph__highlighted__light">Twitter</p>
          </a>
        </div>
        <div>
          <a
            href="https://www.youtube.com/@SymAwareProject/featured"
            class="media"
          >
            <img
              src="../../assets/icons/logo-youtube-regular.png"
              class="media__img"
              alt="Youtube Logo"
            />
            <p class="media__name paragraph__highlighted__light">Youtube</p>
          </a>
        </div>
      </div>
    </div>
    <div class="wrapper_box__contacts">
      <h1 class="heading_primary u-text-underline">Join our team:</h1>
      <p class="paragraph">
        We are looking for PhDs and Postdocs to join our project. Please feel
        free to contact us using this email address:
      </p>
      <img
        class="email"
        src="../../assets/sadegh-email.png"
        alt="Sadegh Soudjani Email"
      />
    </div>
  </div>
</div>
