<div class="wrapper_contact">

    <div class="wrapper_box">
        <div class ="wrapper_box__contacts">
            <h1 class="heading_primary u-text-underline">
                Join our Newsletter
            </h1>
            <p class="paragraph">
                If you want to follow our work or want to participate in our workshops please register as a
                SymAware follower. You will receive periodic newsletters, workshop invitations, project deliverables
                and links to open-source software.
            </p>
        </div>
        <div class ="wrapper_box__contacts">
            <h1 class="heading_primary">
                Follow us on:
            </h1>
            <div class="wrapper_media">
                <div>
                    <a href="https://www.linkedin.com/company/symaware/"class="media">
                        <img src="../../assets/icons/logo_linkedin-regular.png" class="media__img">
                        <p class="media__name paragraph__highlighted">
                            LinkedIn
                        </p>
                    </a>
                </div>
                <div >
                    <a href="https://twitter.com/SymAware" class="media">
                        <img src="../../assets/icons/logo-twitter-regular.png" class="media__img">
                        <p class="media__name paragraph__highlighted">
                            Twitter
                        </p>
                    </a>
                </div>
                <div >
                    <a href="https://www.youtube.com/@SymAwareProject/featured" class="media">
                        <img src="../../assets/icons/logo-youtube-regular.png" class="media__img">
                        <p class="media__name paragraph__highlighted">
                            Youtube
                        </p>
                    </a>
                </div>
            </div>

        </div>
        <div class ="wrapper_box__contacts">
            <h1 class="heading_primary u-text-underline">
                Join our team:
            </h1>
            <div class="media">
                <img src="../../assets/icons/logo-findphd.png" class="media__img_big">
                <p class="media__name paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

</div>