@import '../../scss/variables';
@import '../../scss/mixins';
.container {
    margin: 0;
    width: 100%;

    .banner {
        padding: 2rem 6rem 1rem 4rem;
        background: linear-gradient(#012869, #031c45);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row;
        max-height: 16rem;
        height: 16rem;
        gap: 4rem;
        @include respond(phone) {
            padding: 2rem;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 2rem;
            max-height: 18rem;
            height: 20rem;
        }

        &__half {
            display: flex;
            flex-flow: wrap column;
            text-align: center;
        }

        &__heading {
            font-size: 3rem;
            margin: 0;
            font-weight: 800;
            color: $color-sand;
            filter: drop-shadow(3px 3px 0px #bd6f13);
            @media screen and (max-width: 900px) {
                font-size: 2.5rem;
            }
        }
        &__image {
            width: 30rem;
            height: 37.5rem;
            @include respond(tab-land) {
                width: 25rem;
                height: 20rem;
            }
            @include respond(phone) {
                width: 20rem;
                height: 10rem;
            }
        }
    }
}

.wrapper_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-flow: wrap;
    padding: 2rem 0;

    @include respond(phone) {
        padding: 2rem 0;
        align-items: flex-start;
        flex-flow: column;
        gap: 2rem;
    }

    .box {
        background-color: #f2f2f2;
        transition: 0.25s;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: rgb(0, 0, 0, 0.25) 0 5px 5px;
        height: 1.5rem;
        width: 60rem;
        &[open] {
            min-height: 34rem;
            height: 36rem;
            transition: 0.25s;
        }
        @include respond(big-desktop) {
            height: 1.9rem;
            width: 70rem;
            padding: 2.5rem;
            &[open] {
                height: 45rem;
            }
        }
        @include respond(tab-land) {
            height: 2rem;
            width: 45rem;
            &[open] {
                height: 39rem;
            }
        }
        @include respond(phone) {
            height: 4rem;
            width: 20rem;
            padding: 1.75rem 1rem 1rem 1.5rem;
            &[open] {
                height: 56rem;
            }
        }
        &__heading {
            font-size: 1.25rem;
            color: $color-dark-blue;
            font-weight: 600;
            margin: 0;
            cursor: pointer;
            @include respond(big-desktop) {
                font-size: 1.5rem;
            }
        }
        &__content {
            padding: 2rem;
            @include respond(phone) {
                padding: 2rem 0;
            }
        }
        &__image {
            width: 8rem;
            height: auto;
            @include respond(big-desktop) {
                width: 12rem;
            }
        }
    }
}

.search {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: 900px) {
        padding: 0 4rem 0 4rem;
    }
}
.content {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    @include respond(phone) {
    }
}
