@import '../../scss/variables';

.container-nav {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;

    background: rgba(245, 245, 245, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    min-height: 2rem;
    @media screen and (min-width: 1600px) {
        min-height: 6rem;
    }
    @media screen and (min-width: 900px) {
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-between;

        .navbar-link {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .navbar-item {
            font-size: 1rem;
            padding: 0 1rem;
            height: 100%;
            display: flex;
            align-content: center;
            align-self: center;
            align-items: center;
            text-decoration: none;
            color: $color-font-blue;
            font-weight: 400;
            transition: 0.3s ease-out;
            position: relative;
            @media screen and (min-width: 1600px) {
                font-size: 1.25rem;
            }
            &__underlined {
                text-decoration: underline !important;
                color: $color-black;
                text-decoration-color: $color-black !important;
                transition: 0.3s;
            }
            &:hover:not(.navbar-brand) {
                background-color: rgb($color-dark-blue, 0.95);
                text-decoration-color: $color-sand !important;
                color: white;
                transition: 0.1s ease-out;
            }
        }

        .navbar-brand {
            padding: 1rem;
            margin-left: 2rem;
            @media screen and (min-width: 1600px) {
                padding: 2rem;
                margin-left: 3rem;
            }
        }

        .logo {
            width: 8rem;
            height: auto;
            @media screen and (min-width: 1600px) {
                width: 10rem;
            }
            &:hover {
                filter: saturate(200%) sepia(15%);
            }
        }
    }
}

.container-mob-nav {
    width: 100%;
    background: #f5f5f5;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    min-height: 4rem;
    z-index: 99;
    position: fixed;
    display: none;
    @media screen and (max-width: 900px) {
        display: block;
    }

    .mobile-item {
        display: flex;
        align-content: center;
        align-items: center;
        text-decoration: none;
        height: 2rem;
        padding: 1rem;
        font-size: 1.1rem;
    }

    .close {
        height: 100%;
        width: 4rem;
    }

    .mobile-brand {
        display: flex;
        padding: 1rem;
        justify-content: flex-end;
        height: 2rem;
    }
}

.navicon {
    width: 30px;
    height: 30px;
    padding: 0;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
}

.navicon-bar {
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    transition: all 0.2s ease-out;
    background-color: #bdbdbd;
    &:first-child {
        top: 5px;
    }

    &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    &last-child {
        bottom: 5px;
    }
}

.nav-toggle {
    display: none;
    &:checked ~ .navicon > .navicon-bar:last-child {
        transform: rotate(-45deg);
        bottom: 13px;
    }
    &:checked ~ .navicon > .navicon-bar:nth-child(2) {
        background-color: transparent !important;
    }
    &:checked ~ .navicon > .navicon-bar:first-child {
        transform: rotate(45deg);
        top: 14px;
    }
}

.toggle-bar {
    display: none;
}

.mobile_logo {
    width: 6rem;
    height: auto;
}

.dropdown {
    margin: 0 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
}
.sticky {
    position: fixed !important;
    z-index: 99;
    top: 0;
    width: 100%;
}
