@import '../../scss/variables';

.container-nav {
    display: none;
    position: fixed;
    min-height: 2rem;
    width: 100%;
    z-index: 99;
    background: rgb($color-white, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1600px) {
        min-height: 6rem;
    }
    @media screen and (min-width: 1000px) {
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-between;

        .navbar-link {
            display: flex;
            justify-content: flex-end;
        }
        .navbar-item {
            padding: 0 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            &__underlined {
                text-decoration: underline !important;
                color: $color-dark-blue;
                text-decoration-color: $color-dark-blue !important;
            }
            &:hover:not(.navbar-brand) {
                background-color: rgb($color-dark-blue, 0.95);
                text-decoration-color: $color-sand !important;
                color: $color-white;
                transition: 0.1s ease-out;
            }
        }

        .navbar-brand {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-end;
            padding: 1rem;
            margin-left: 1rem;
            @media screen and (min-width: 1600px) {
                padding: 1.25rem;
                margin-left: 1.25rem;
            }
        }

        .logo {
            width: 8rem;
            height: auto;
            @media screen and (min-width: 1600px) {
                width: 10rem;
            }
            &:hover {
                filter: saturate(200%) sepia(15%);
            }
        }
    }
}

.container-mob-nav {
    width: 100%;
    background: $color-white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    min-height: 4rem;
    padding-left: 1rem;
    z-index: 99;
    position: fixed;
    display: none;
    @media screen and (max-width: 1000px) {
        display: block;
    }

    .mobile-item {
        display: flex;
        align-content: center;
        align-items: center;
        text-decoration: none;
        height: 2rem;
        padding: 1rem;

        &:last-child {
            padding-bottom: 2rem;
        }
    }

    .mobile-brand {
        display: flex;
        height: 2rem;
        min-width: 2rem;
        align-content: center;
        align-items: center;
        padding: 1rem;
    }

    .mobile-logo {
        width: 8rem;
        height: auto;
    }

    .dropdown {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem 0 0;
        height: 6rem;
    }
}

.navicon {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;

    &-bar {
        display: block;
        width: 2.5rem;
        height: 0.25rem;
        position: absolute;
        transition: all 0.2s ease-out;
        background-color: #bdbdbd;
        &:first-child {
            top: 0.25rem;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            bottom: 0.25rem;
        }
    }
}

.nav-toggle {
    display: none;
    &:checked ~ .navicon > .navicon-bar:last-child {
        transform: rotate(-45deg);
        bottom: 1rem;
    }
    &:checked ~ .navicon > .navicon-bar:nth-child(2) {
        background-color: transparent !important;
    }
    &:checked ~ .navicon > .navicon-bar:first-child {
        transform: rotate(45deg);
        top: 1rem;
    }
}

.disable {
    display: none;
}
