<div class="container-nav">
    <nav role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img class="logo" src="../assets/icons/Logo_SymAware.png">
            </a>
        </div>
        <div class="navbar-link">
            <a class="navbar-item" routerLink="/home" routerLinkActive="navbar-item__underlined">
              Home
            </a>
            <a class="navbar-item" routerLink="research-publications" routerLinkActive="navbar-item__underlined">
              Research & Publications
            </a>
            <a class="navbar-item" routerLink="team" routerLinkActive="navbar-item__underlined">
              Team
            </a>
            <a class="navbar-item" routerLink="consortium" routerLinkActive="navbar-item__underlined">
              Consortium
            </a>
            <a class="navbar-item" routerLink="contacts" routerLinkActive="navbar-item__underlined">
              Contact Us
            </a>
            <a class="navbar-item" routerLink="/" routerLinkActive="navbar-item__underlined">
              Join our newsletter
            </a>
        </div>
    </nav>
</div>
