<div class="container-nav">
  <nav role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img class="logo" src="../assets/icons/Logo_SymAware.png">
      </a>
    </div>

    <div class="navbar-link">
      <a class="navbar-item">
        Home
      </a>
      <a class="navbar-item">
        Research & Publications
      </a>
      <a class="navbar-item">
        Team
      </a>
      <a class="navbar-item">
        Consortium
      </a>
      <a class="navbar-item">
        Contact Us
      </a>
      <a class="navbar-item">
        Join our newsletter
      </a>

    </div>
  </nav>
</div>
