<div class="wrapper_research a-fade-in">
    <div class="wrapper_categories">
        <div class="u-margin-right__big">
            <button
                class="cat-button heading_primary u-text-underline__sand"
                (click)="selected = 'all'; sort_selected = 'all'"
            >
                Publications
            </button>
        </div>
        <button
            class="paragraph cat-button u-margin-right dynamic--underline"
            (click)="selected = 'all'; sort_selected = 'all'"
        >
            All
        </button>
        <button
            class="paragraph cat-button u-margin-right dynamic--underline"
            (click)="selected = 'deliverables'; sort_selected = 'all'"
        >
            Deliverables
        </button>
        <button
            class="paragraph cat-button dynamic--underline"
            (click)="selected = 'research'; sort_selected = 'all'"
        >
            Research Papers
        </button>
    </div>
    <div class="wrapper_years">
        <div
            class="a-fade-in"
            *ngIf="selected == 'research' && publications.length > 0"
        >
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '2022'"
            >
                2022
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '2023'"
            >
                2023
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '2024'"
            >
                2024
            </button>
            <button
                class="paragraph cat-button"
                (click)="sort_selected = '2025'"
            >
                2025
            </button>
        </div>
        <div
            class="a-fade-in"
            *ngIf="selected == 'deliverables' && deliverables.length > 0"
        >
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '1'"
            >
                WP1
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '2'"
            >
                WP2
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '3'"
            >
                WP3
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '4'"
            >
                WP4
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '5'"
            >
                WP5
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '6'"
            >
                WP6
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '7'"
            >
                WP7
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '8'"
            >
                WP8
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '9'"
            >
                WP9
            </button>
            <button
                class="paragraph u-margin-right cat-button"
                (click)="sort_selected = '10'"
            >
                WP10
            </button>
        </div>
    </div>
    <div class="wrapper_publications">
        <div
            class="a-fade-in"
            *ngIf="selected == 'all' || selected == 'research'"
        >
            <div *ngFor="let publication of publications">
                <div
                    class="publication"
                    *ngIf="
                        publication.year == sort_selected ||
                        sort_selected == 'all'
                    "
                >
                    <div
                        class="publication__title paragraph__highlighted__light u-text-underline"
                    >
                        <a *ngIf="publication.doi; else elseBlock" href="https://doi.org/{{ publication.doi }}" target="_blank">
                            {{ publication.title }}
                        </a>
                            <ng-template #elseBlock>
                            <p>
                                {{ publication.title }}
                            </p>
                        </ng-template>
                    </div>
                    <div *ngIf="publication.type_pub" class="publication__type_pub paragraph">
                        <em>{{ publication.type_pub }}</em>
                    </div>
                    <div class="publication__authors paragraph">
                        <strong>Authors:</strong> {{ publication.authors }}
                    </div>
                    <div *ngIf="publication.consortium_partner" class="publication__consortium_partner paragraph">
                        <strong>Partners:</strong> {{ publication.consortium_partner }}
                    </div>
                    <div class="publication__year paragraph">
                        <strong>Year:</strong> {{ publication.year }}
                    </div>
                    <div *ngIf="publication.doi" class="paragraph">
                        <a href="https://doi.org/{{ publication.doi }}" target="_blank">
                            <strong>DOI:</strong> 
                            <span class="u-text-underline">{{ publication.doi }}</span>
                        </a>
                    </div>
                    <a *ngIf="false" href="{{ publication.link }}" target="_blank">
                        <button
                            class="publication__button paragraph__highlighted"
                        >
                            See Publication
                        </button>
                    </a>
                </div>
            </div>
            <div *ngIf="publications.length === 0 && selected == 'research'">
                <div class="publication">No Publications</div>
            </div>
        </div>

        <!--        <div *ngIf="deliverables.length == 0">-->
        <!--            <div class="publication">No Deliverables</div>-->
        <!--        </div>-->
        <div
            class="a-fade-in"
            *ngIf="selected == 'all' || selected == 'deliverables'"
        >
            <div *ngFor="let deliverable of deliverables">
                <div
                    class="publication"
                    *ngIf="
                        deliverable.wp_number == sort_selected ||
                        sort_selected == 'all'
                    "
                >
                    <div
                        class="publication__title paragraph__highlighted__light u-text-underline"
                    >
                        <a
                            *ngIf="deliverable.link; else elseBlock"
                            href="{{ deliverable.link }}"
                            target="_blank"
                        >
                            {{ deliverable.title }}
                        </a>
                        <ng-template #elseBlock>
                            <p>
                                {{ deliverable.title }}
                            </p>
                        </ng-template>
                    </div>

                    <div class="publication__authors paragraph">
                        <strong> Deliverable Number: </strong>
                        {{ deliverable.deliverable_related_no }}
                    </div>
                    <div class="publication__authors paragraph">
                        <strong> Lead: </strong>
                        {{ deliverable.lead }}
                    </div>
                    <div class="publication__authors paragraph">
                        <strong>Due Date:</strong>
                        {{ deliverable.new_due_date || deliverable.due_date }}
                    </div>
                    <div class="publication__authors paragraph">
                        <strong>Submission Date:</strong>
                        {{ deliverable.delivery_date || 'TBD' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
