<div class="wrapper_research">
    <div class="wrapper_categories">
        <h1 class="heading_primary">
            All Publications
        </h1>
        <a class="paragraph">
            All
        </a>
        <a class="paragraph">
            Deliverables
        </a>
        <a class="paragraph">
            Research Papers
        </a>
    </div>
    <div class="wrapper_years">
        <a class="paragraph u-margin-right">
            2022
        </a>
        <a class="paragraph">
            2023
        </a>
    </div>
    <div class="wrapper_publications">
        <div class="publication">
            <div class="publication__title">
                title
            </div>
            <div class="publication__authors">
                authors:
            </div>
        </div>
    </div>
</div>