@import '../scss/variables';

.heading_primary {
    font-size: 2rem;
    font-weight: 900;
    color: #1d2e5d;
    margin: 1rem 0;
    @media screen and (min-width: 1600px) {
        font-size: 2.5rem;
    }
    &__white {
        @extend .heading_primary;
        color: $color-white !important;
    }
}

.heading_secondary {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1d2e5d;
    margin: 1rem 0;
    position: relative;
    display: inline-block;
    &__white {
        @extend .heading_secondary;
        color: $color-white !important;
    }
    @media screen and (min-width: 1600px) {
        font-size: 2.1rem;
    }
}
.heading_tertiary {
    font-size: 1.2rem;
    font-weight: 700;
    color: #1d2e5d;
    margin: 1rem 0;
    position: relative;
    display: inline-block;
    &__white {
        @extend .heading_tertiary;
        color: $color-white !important;
    }
    @media screen and (min-width: 1600px) {
        font-size: 1.5rem;
    }
}
.heading_four {
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-black;
    margin: 1rem 0;
    position: relative;
    display: inline-block;
    &__white {
        @extend .heading_four;
        color: $color-white !important;
    }
    @media screen and (min-width: 1600px) {
        font-size: 1.5rem;
    }
}
.paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: $color-black;
    //margin-bottom: 1rem;

    @media screen and (min-width: 1600px) {
        font-size: 1.25rem;
    }
    &__small {
        @extend .paragraph;
        font-size: 0.8rem;

        @media screen and (min-width: 1600px) {
            font-size: 1rem;
        }
    }
    &__light {
        @extend .paragraph;
        color: $color-dark-grey;
    }
    &__white {
        @extend .paragraph;
        color: $color-white;
    }
    &__dark {
        @extend .paragraph;
        color: $color-dark-blue;
    }
    &__highlighted {
        @extend .paragraph;
        font-weight: 400;
        margin: 0;
        color: $color-font-blue;
        &__dark {
            @extend .paragraph__highlighted;
            color: $color-dark-blue;
        }
        &__light {
            @extend .paragraph__highlighted;
            color: $color-font-blue;
        }
    }
}

.t-color-black {
    color: $color-black !important;
}
