@import "../scss/variables";

.heading_primary {
  font-size: 2rem;
  font-weight: 900;
  color: #1D2E5D;
  margin: 1rem 0;

  &__white {
    @extend .heading_primary;
    color: $color-white !important;
  }
}

.heading_secondary{
  font-size: 1.5rem;
  font-weight: 700;
  color: #1D2E5D;
  margin: 1rem 0;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: $color-font-blue;
}

.paragraph__highlighted {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: $color-dark-blue;
}



t-color-black {
  color: $color-black !important;
}
