@import '../../scss/variables';

.wrapper_leaders {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap row;
    margin-top: 2rem;
    //position: relative;

    //&:before {
    //  opacity: 0;
    //}
    //&:after {
    //  opacity: 1;
    //}
    //&:hover .wrapper_profile__expanded{
    //    display: flex;
    //}

    //@media screen and (max-width: 768px) {
    //    align-content: flex-start;
    //    flex-flow: wrap column;
    //    min-width: 25rem;
    //}
}

.team_page {
    margin: 2rem 8rem 0 8rem;
    @media screen and (max-width: 1080px) {
        margin: 2rem 1rem;
        padding: 0 1rem;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-flow: wrap;
        align-items: flex-start;
        justify-items: flex-start;
    }

    &__item {
        margin-top: 1.9rem;
        color: $color-font-blue;
    }

    &__button {
        border: none;
        background: none;
        position: relative;
        @media screen and (max-width: 768px) {
            display: none;
        }
        &:hover {
            cursor: pointer;
            color: $color-black;
        }
    }
}

.leader {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    max-width: 11rem;
    min-width: 11rem;
    margin-right: 2rem;
    transition: 0.4s ease-out;
    opacity: 0;

    @media screen and (min-width: 1600px) {
        max-width: 15rem;
        min-width: 15rem;
    }
    @media screen and (max-width: 768px) {
        align-content: flex-start;
        align-items: center;
        justify-items: flex-end;
        justify-content: flex-end;
        margin-right: 0;
        margin-bottom: 1rem;
        width: 22rem;
        max-width: 22rem;
        max-height: 12rem;
    }
    &__name {
        font-size: 1rem;
        margin: 0.5rem 0 0 0;
        min-width: 0;
        font-weight: 700;
        text-align: center;
        color: $color-dark-blue;
        //position: relative;
        @media screen and (max-width: 768px) {
            margin: 0;
            text-align: left;
        }
        @media screen and (min-width: 1600px) {
            font-size: 1.25rem;
        }
    }
    &__role {
        margin: 0;
        font-size: 1rem;
        justify-self: center;
        color: $color-dark-grey;
        text-align: center;
        @media screen and (max-width: 768px) {
            text-align: start;
            width: 70%;
        }
        @media screen and (min-width: 1600px) {
            font-size: 1.25rem;
        }
    }
}
.container__company {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.9;
    @media screen and (max-width: 768px) {
        justify-content: flex-start;
        scale: 1;
        margin-left: 1rem;
        max-height: 2rem;
    }
    @media screen and (min-width: 1600px) {
        min-height: 4rem;
    }
    .company {
        align-self: center;
        justify-self: end;
        height: auto;
        width: auto;
        max-width: 9rem;
        max-height: 3rem;
        @media screen and (max-width: 768px) {
            align-self: start;
            justify-self: start;
        }
        @media screen and (min-width: 1600px) {
            max-height: 4rem;
            max-width: 11.25rem;
        }
    }
}
.wrapper_profile {
    border-radius: 50%;
    max-height: 10rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem rgb(0, 0, 0, 0.3);
    @media screen and (min-width: 1600px) {
        max-height: 12rem;
    }
}

.profile {
    height: auto;
    width: 10rem;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
    scale: 1;
    transition: 0.35s ease-in-out;
    &:hover {
        scale: 1.1;
        transition: 0.35s ease-in-out;
    }
    @media screen and (min-width: 1600px) {
        width: 12rem;
    }
    @media screen and (max-width: 768px) {
        width: 8rem;
        height: 8rem;
    }
}

.divide_section {
    margin: 2rem 0;
    height: 0.25rem;
    background-color: $color-sand;
    transition: height 0.5s, opacity 0.3s;
}

//.wrapper_profile__expanded {
//  z-index: 99;
//  position: absolute;
//  top: 1%;
//  visibility: hidden;
//  transform: translateY(50%);
//  transform: translateX(50%);
//  background-color: rgb(255, 255, 255, 0.9);
//  min-width: 12rem;
//  padding: 3rem;
//  width: 20rem;
//  min-height: 32rem;
//  //display: none;
//  align-content: center;
//  justify-content: center;
//  justify-items: center;
//  align-items: center;
//  flex-flow: column wrap;
//  border-radius: 2%;
//  box-shadow: 0px 0px 15px $color-black;
//}
//.wrapper_profile__expanded > * {
//  flex: 1 1 100%;
//}
//.expanded_logo {
//  padding: 0 0 1rem 0;
//}
//.expanded_logo__img {
//  height: 2rem;
//  width: auto;
//}
//.expanded_photo__img {
//  height: 15rem;
//  width: auto;
//  border-radius: 50%;
//}
//.expanded_name {
//  margin: 0;
//}

.inst_sort {
    @media screen and (max-width: 768px) {
        width: 10rem;
        height: auto;
    }
    @media screen and (min-width: 1600px) {
        min-width: 25rem;
        height: 5rem;
        margin-top: 1rem;
    }
}
.wrapper_names {
    max-height: 4rem;
    min-height: 4rem;
    min-width: 0;
    @media screen and (max-width: 768px) {
        margin-top: 0rem;
        margin-left: 1rem;
    }
    @media screen and (min-width: 1600px) {
        max-height: 5rem;
        min-height: 5rem;
    }
}
@for $i from 1 through 12 {
    .wrapper_leaders :nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
        transition-delay: #{$i * 0.1}s;
    }
}
.hide {
    display: none;
}
