<div class="team_page">
    <div class="search">
        <h1 class="heading_primary">
            Meet the team
        </h1>
        <a class="search__item">
            Everyone
        </a>
        <a class="search__item">
            Academics
        </a>
        <a class="search__item">
            Researchers
        </a>
        <a class="search__item">
            Doctoral Trainees
        </a>
    </div>
    <h2 class="heading_secondary">
        Team Leaders
    </h2>
    <div class="wrapper_leaders">
        <div class="leader">
            <img class="profile" src="./assets/images/sadegh.png">
            <h2 class="leader__name">Dr. Sadegh Soudjani</h2>
            <img class="company" src="./assets/images/consortium/MPISS%201.png">
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Sofie%20Haesaert.png">
            <h2 class="leader__name">Dr.  Sofie Haesaert</h2>
            <img class="company" src="./assets/images/consortium/tue%201.png">
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Dimos%20Dimorogonas.png">
            <h2 class="leader__name">Prof. Dimos V. Dimarogonas</h2>
            <img class="company" src="./assets/images/consortium/KTH%201.png">
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Ginevra%20Castellano.png">
            <h2 class="leader__name">Prof. Ginevra Castellano</h2>
            <img class="company" src="./assets/images/consortium/UU%201.png">
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Sybert%20Stroeve.png">
            <h2 class="leader__name">Dr. Sybert Stroeve</h2>
            <img class="company" src="./assets/images/consortium/NLR%201.png">
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/mohsen%20Allrezael.png">
            <h2 class="leader__name">Dr. Mohsen Alirezaei</h2>
            <img class="company" src="./assets/images/consortium/Siemens%201.png">
        </div>
    </div>
    <div class="divide_section"></div>
    <h2 class="heading_secondary">
        Academics & Researchers
    </h2>
    <div class="wrapper_leaders">
        <div class="leader">
            <img class="profile" src="./assets/images/Ben_Wooding.png">
            <h2 class="leader__name">Ben Wooding</h2>
            <p class="paragraph">Phd Student</p>
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Ana_Laino.png">
            <h2 class="leader__name">Ana Laino</h2>
            <p class="paragraph">Phd Student</p>
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Zhi%20Zhang.png">
            <h2 class="leader__name">Zhi Zhang</h2>
            <p class="paragraph">Phd Student</p>
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Ben_Wooding.png">
            <h2 class="leader__name">Ben Wooding</h2>
            <p class="paragraph">Phd Student</p>
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Ana_Laino.png">
            <h2 class="leader__name">Ana Laino</h2>
            <p class="paragraph">Phd Student</p>
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Zhi%20Zhang.png">
            <h2 class="leader__name">Zhi Zhang</h2>
            <p class="paragraph">Phd Student</p>
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Ana_Laino.png">
            <h2 class="leader__name">Ana Laino</h2>
            <p class="paragraph">Phd Student</p>
        </div>
        <div class="leader">
            <img class="profile" src="./assets/images/Zhi%20Zhang.png">
            <h2 class="leader__name">Zhi Zhang</h2>
            <p class="paragraph">Phd Student</p>
        </div>
    </div>
</div>