<div class="container_home">
    <section class="page" id="landing">
        <div class="wrapper_vector">
            <img
                class="vector"
                src="../../assets/images/symaware/Vector.png"
                alt="SymAware gradient background"
            />
        </div>
        <div class="landing-section">
            <div class="home_heading">
                <h1 class="home_heading__first a-moveIn-left">SUSTAINABLE</h1>
                <h1 class="home_heading__second a-moveIn-left__delayed">
                    AUTONOMY
                </h1>
            </div>
            <div class="intro-paragraph">
                <p class="a-moveIn-left">
                    Picture an environment where autonomous agents (robots,
                    drones, cars, etc.) collaborate with humans to fulfil
                    complex and dynamically changing tasks. To have real,
                    sustainable autonomy, these agents will need to obtain
                    <b> situational awareness </b> and improve their ability to
                    <b> actively perceive risks. </b>
                </p>
                <div id="hero" class="hero">
                    <img
                        class="hero__image"
                        src="../../assets/images/symaware/vector-symaware_hero.svg"
                        alt="SymAware Illustration"
                    />
                </div>
                <div class="hero a-moveIn-right">
                    <img
                        class="hero__mobile"
                        src="../../assets/images/symaware/symaware-art-transparent.svg"
                        alt="SymAware Illustration"
                    />
                </div>
                <p class="a-moveIn-left">
                    This is the purpose of
                    <b>
                        Symbolic Logic Framework for Situational Awareness in
                        Mixed Autonomy (SymAware),
                    </b>
                    a project funded by the European Union.
                </p>
            </div>
        </div>
    </section>
    <div class="barrier"></div>
    <section class="page u-hidden" id="consortium">
        <app-consortium></app-consortium>
    </section>
    <div class="barrier"></div>
    <!--    <div class="mini_consortium">-->
    <!--      <div class="heading_primary u-text-underline__sand ">-->
    <!--        Project Consortium-->
    <!--      </div>-->
    <!--      <div class="keen-slider u-margin-top" #memberSlider>-->
    <!--        <div class="keen-slider__slide u-justify-center">-->
    <!--          <img class="mini_consortium__members" src="assets/images/consortium/KTH%201.png">-->
    <!--        </div>-->
    <!--        <div class="keen-slider__slide u-justify-center">-->
    <!--          <img class="mini_consortium__members" src="assets/images/consortium/Mask%20group.png">-->
    <!--        </div>-->
    <!--        <div class="keen-slider__slide u-justify-center">-->
    <!--          <img class="mini_consortium__members" src="assets/images/consortium/MPISS%201.png">-->
    <!--        </div>-->
    <!--        <div class="keen-slider__slide u-justify-center">-->
    <!--          <img class="mini_consortium__members" src="assets/images/consortium/NLR%201.png">-->
    <!--        </div>-->
    <!--        <div class="keen-slider__slide u-justify-center">-->
    <!--          <img class="mini_consortium__members" src="assets/images/consortium/Siemens%201.png">-->
    <!--        </div>-->
    <!--        <div class="keen-slider__slide u-justify-center">-->
    <!--          <img class="mini_consortium__members" src="assets/images/consortium/tue%201.png">-->
    <!--        </div>-->
    <!--        <div class="keen-slider__slide u-justify-center">-->
    <!--          <img class="mini_consortium__members" src="assets/images/consortium/UU%201.png">-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <section class="page u-hidden" id="news">
        <div class="wrapper_news">
            <h1 class="heading_primary u-text-underline__sand">Recent News</h1>
            <div class="wrapper_news__box">
                <a
                    class="twitter-timeline"
                    href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw"
                    data-width="1000"
                    data-height="700"
                    data-tweet-limit="6"
                    data-show-replies="false"
                    data-aria-polite="assert"
                    data-chrome="noheader"
                    data-widget_type="grid"
                >
                    Tweets from SymAware
                </a>
            </div>
        </div>
    </section>
</div>

<ul id="pagination" class="a-fade-in">
    <li><a (click)="scrollTo('landing')"></a></li>
    <li><a (click)="scrollTo('consortium')"></a></li>
    <li><a (click)="scrollTo('news')"></a></li>
</ul>
