<div class="container_home">
    <section class="page" id="landing">
        <div class="gradient_mobile"></div>
        <div class="landing-section">
            <div class="home_heading">
                <h1 class="home_heading__first a-moveIn-left">SUSTAINABLE</h1>
                <h1 class="home_heading__second a-moveIn-left__delayed">
                    AUTONOMY
                </h1>
            </div>
            <div class="intro-paragraph">
                <p class="a-moveIn-left paragraph u-margin-bottom" [ngClass]="
                        mobile
                            ? 'a-moveIn-left paragraph__white'
                            : 'a-moveIn-left paragraph'
                    ">
                    Picture an environment where autonomous agents (robots,
                    drones, cars, etc.) collaborate with humans to fulfil
                    complex and dynamically changing tasks. To have real,
                    sustainable autonomy, these agents will need to obtain
                    <b> situational awareness </b> and improve their ability to
                    <b> actively perceive risks. </b>
                </p>
                <div id="hero" class="hero">
                    <img class="hero__image" src="../../assets/images/symaware/vector-symaware_hero.svg"
                        alt="SymAware Illustration" />
                </div>
                <div class="a-moveIn-right">
                    <img class="hero__mobile" src="../../assets/images/symaware/symaware-art-transparent.svg"
                        alt="SymAware Illustration" />
                </div>
                <p class="a-moveIn-left paragraph u-margin-bottom" [ngClass]="
                        mobile
                            ? 'a-moveIn-left paragraph__white'
                            : 'a-moveIn-left paragraph'
                    ">
                    This is the purpose of
                    <b>
                        Symbolic Logic Framework for Situational Awareness in
                        Mixed Autonomy (SymAware),
                    </b>
                    a project funded by the European Union.
                </p>
                <img class="funding__eu a-moveIn-left" src="assets/images/consortium/eu-flag-funded.png" />
            </div>
        </div>
    </section>
    <div class="barrier"></div>
    <section class="page u-hidden" id="info">
        <div class="wrapper_description">
            <div class="description">
                <p class="description__heading">NEW CONCEPTUAL</p>
                <br />
                <p class="description__heading_yellow">FRAMEWORK&nbsp;</p>
                <p class="description__heading">FOR&nbsp;</p>
                <p class="description__heading_yellow">AWARENESS&nbsp;</p>
                <p class="description__heading">IN&nbsp;</p>
                <p class="description__heading_yellow">MULTI-AGENT SYSTEMS</p>
            </div>
            <div class="description">
                <p class="paragraph__white u-margin-bottom">
                    SymAware addresses the fundamental need for a new conceptual
                    framework for awareness in multi-agent systems (MASs) that
                    is compatible with the internal models and specifications of
                    robotic agents and that enables safe simultaneous operation
                    of collaborating autonomous agents and humans.
                </p>
                <p class="paragraph__white">
                    The SymAware framework will use compositional logic,
                    symbolic computations, formal reasoning, and uncertainty
                    quantification to characterise and support situational
                    awareness of MAS in its various dimensions, sustaining
                    awareness by learning in social contexts, quantifying risks
                    based on limited knowledge, and formulating risk-aware
                    negotiation of task distributions.
                </p>
            </div>
        </div>
    </section>
    <section class="page u-hidden" id="objectives">
        <div class="wrapper_objectives">
            <h3 class="objective__heading">
                These objectives will be achieved in SymAware through:
                <div class="objective__shadow"></div>
            </h3>
            <div class="objective">
                <p class="paragraph u-margin-bottom">
                    <span class="paragraph__highlighted__dark"><b>(a)</b></span>
                    Logical characterisation of awareness using symbolic
                    methods,
                </p>
                <p class="paragraph u-margin-bottom">
                    <span class="paragraph__highlighted__dark"><b>(b)</b></span>
                    Quantifying the symbolic reasoning for awareness with
                    spatial and temporal ingredients for decision making,
                </p>
                <p class="paragraph u-margin-bottom">
                    <span class="paragraph__highlighted__dark"><b>(c)</b></span>
                    Risk awareness via quantified knowledge,
                </p>
                <p class="paragraph u-margin-bottom">
                    <span class="paragraph__highlighted__dark"><b>(d)</b></span>
                    Quantifying and communicating knowledge awareness,
                </p>
                <p class="paragraph u-margin-bottom">
                    <span class="paragraph__highlighted__dark"><b>(e)</b></span>
                    Demonstrating awareness engineering in aviation and
                    automotive use cases, and
                </p>
                <p class="paragraph">
                    <span class="paragraph__highlighted__dark"><b>(f)</b></span>
                    Identifying requirements for ethical and trustworthy
                    awareness in human-agent interaction.
                </p>
            </div>
            <div class="flex-center symaware-introduction-wrapper">
                <video width="100%" controls class="symaware-introduction">
                    <source src="assets/videos/symaware-presentation.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <p class="paragraph__highlighted__light">
                SymAware addresses the “Awareness Inside” Challenge of the
                European Innovation Council by extending and formalising
                human-based models of situational awareness and by providing a
                novel conceptual situational awareness framework for MASs that
                encompasses logical characterisation and integrative formal
                reasoning of interdependent awareness dimensions including
                knowledge, spatiotemporal, risk and social dimensions. This will
                support transitioning to safe mixed operation of autonomous
                agents and humans.”
            </p>
        </div>
    </section>
    <div class="barrier"></div>
    <section class="page u-hidden" id="consortium">
        <app-consortium></app-consortium>
    </section>
    <div class="barrier"></div>

    <section class="page u-hidden" id="news">
        <div class="wrapper_news">
            <h1 class="heading_primary u-text-underline__sand">Recent News</h1>
            <app-news></app-news>
        </div>
    </section>
</div>

<ul id="pagination" class="a-fade-in">
    <li><a (click)="scrollTo('landing')"></a></li>
    <li><a (click)="scrollTo('info')"></a></li>
    <li><a (click)="scrollTo('objectives')"></a></li>
    <li><a (click)="scrollTo('consortium')"></a></li>
    <li><a (click)="scrollTo('news')"></a></li>
</ul>