<div class="container_home">
    <section class="page" id="landing">
        <div class="wrapper_vector">
            <img class="vector" src="assets/Vector.png">
        </div>
        <div class="landing-section">
            <div class="home_heading">
                <h1 class="home_heading__first a-moveIn-left">
                    SUSTAINABLE
                </h1>
                <h1 class="home_heading__second a-moveIn-left__delayed">
                    AUTONOMY
                </h1>
            </div>
            <div class="intro-paragraph">
                <p class="a-moveIn-left">
                    Picture an environment where autonomous agents (robots, drones, cars, etc.) collaborate with humans to fulfil
                    complex and dynamically changing tasks. To have real, sustainable autonomy,
                    these agents will need to obtain  <b> situational awareness </b> and improve their ability to <b> actively perceive
                    risks. </b>
                </p>
                <div id="hero" class="hero a-moveIn-right">
                    <img class="hero__image" src="../../assets/images/vector-symaware_hero.svg" alt="Hero">
                </div>
                <p class="a-moveIn-left">
                    This is the purpose of  <b> Symbolic Logic Framework for Situational Awareness in Mixed Autonomy (SymAware),
                </b> a project funded by the European Union.
                </p>
            </div>

        </div>
    </section>
    <div class="barrier"></div>
    <section class="page" id="consortium">
        <div class="wrapper_consortium">
            <h1 class="heading_primary__white u-text-underline__sand">
                Project Consortium
            </h1>
            <div class="consortium">
                <div class="consortium_box">
                    <a class="consortium_box__image" href="https://www.mpi-sws.org/" target="_blank">
                        <img class="consortium_box__members" src="assets/images/consortium/mpi.png">
                    </a>
                    <p class="paragraph consortium_box__text">
                        <u><a href="https://www.mpi-sws.org/" target="_blank">
                            Max Planck Institute for Software Systems (MPI-SWS)
                        </a></u> studies the principles of efficient, dependable,
                        secure, and usable computing systems, as well as their interaction with the physical and social context
                        in which they operate. The Institute conducts foundational research in relevant areas of computer science
                        and beyond, covering theory, empirical analysis, and data-driven investigation.
                    </p>
                    <p class="paragraph consortium_box__text">
                        Personnel: <u> Dr. Sadegh Soudjani </u>
                    </p>
                </div>
                <div class="consortium_box">
                    <a class="consortium_box__image" href="https://www.tue.nl/en/" target="_blank">
                        <img class="consortium_box__members" src="assets/images/consortium/tue.png">
                    </a>
                    <p class="paragraph consortium_box__text">
                        <a href="https://www.tue.nl/en/" target="_blank"><u>Technische Universiteit Eindhoven (TU/e) </u></a>
                        is a research-driven university of international standing, where
                        excellent research and excellent education go hand in hand. TU/e focus on a balanced approach towards
                        education, research and valorization of knowledge in the areas of engineering science and technology.
                        It works in close collaboration with other universities, scientific institutes, social organizations,
                        government, and industry.

                    </p>
                    <p class="paragraph consortium_box__text">
                        Personnel: <u> Dr. Sofie Haesaert </u>
                    </p>
                </div>
                <div class="consortium_box">
                    <div class="consortium_box__image">
                        <a href="https://www.kth.se/en" target="_blank">
                            <img class="consortium_box__members" src="assets/images/consortium/kth.png">
                        </a>

                    </div>
                    <p class="paragraph consortium_box__text">
                        <a href="https://www.kth.se/en" target="_blank"><u>Kungliga Tekniska Högskolan (KTH)</u></a>
                        provides one-third of Sweden’s capacity for engineering studies and
                        technical research at post-secondary level. KTH conducts top-notch education and research of a broad
                        spectrum, from natural science to all branches of technology. KTH will be involved in the project through
                        both the Department of Automatic Control (AC) and the Centre for Autonomous Systems (CAS), which have
                        been participating in several EU and national projects.

                    </p>
                    <p class="paragraph consortium_box__text">
                        Personnel: <u>Prof. Dimos V. Dimarogonas</u>
                    </p>
                </div>
                <div class="consortium_box">
                    <div class="consortium_box__image">
                        <a href="https://www.uu.se/" target="_blank">
                            <img class="consortium_box__members" src="assets/images/consortium/uu.png">
                        </a>
                    </div>
                    <p class="paragraph consortium_box__text">
                        <a href="https://www.uu.se/" target="_blank"><u>Uppsala University (UU)</u></a>
                            is a broad research university with a clear mission:
                        To pursue top-quality research and education and to interact constructively with society,
                        to contribute in different ways to a better world. Uppsala University strives to bring new
                        perspectives to the basic questions of science as well as knowledge contributing to sustainable
                        development and human health.
                    </p>
                    <p class="paragraph consortium_box__text">
                        Personnel: <u>Prof. Ginevra Castellano </u>
                    </p>
                </div>
                <div class="consortium_box">
                    <a href="https://www.nlr.org/" target="_blank" class="consortium_box__image">
                        <img class="consortium_box__members" src="assets/images/consortium/nlr.png">
                    </a>
                    <p class="paragraph consortium_box__text">
                        <a href="https://www.nlr.org/" target="_blank"><u>Netherlands Aerospace Centre’s (NLR)</u></a>
                        mission is to make air operations and space exploration safer,
                        more sustainable and more efficient. The multidisciplinary approach of NLR focuses on developing new
                        and cost-effective technologies for aviation and space, from design support to production technology
                        and MRO (Maintenance, Repair and Overhaul). With its unique expertise and state-of-the-art facilities,
                        NLR is bridging the gap between research and application.
                    </p>
                    <p class="paragraph consortium_box__text">
                        Personnel: <u>Dr. Sybert Stroeve</u>
                    </p>
                </div>
                <div class="consortium_box">
                    <a href="https://www.siemens.com/" target="_blank" class="consortium_box__image">
                        <img class="consortium_box__members" src="assets/images/consortium/siemens.png">
                    </a>

                    <p class="paragraph consortium_box__text">
                        <a href="https://www.siemens.com/" target="_blank"><u>Siemens Industry Software Netherlands B.V. (SISW)</u></a>
                            is driving transformation to enable a digital
                        enterprise where engineering, manufacturing and electronics design meet tomorrow. The solutions
                        provided by SISW help companies of all sizes to create and leverage digital twins that provide
                        organizations with new insights, opportunities, and levels of automation to drive innovation.
                    </p>
                    <p class="paragraph consortium_box__text">
                        Personnel: <u>Dr. Mohsen Alirezaei</u>
                    </p>
                </div>
            </div>
        </div>

    </section>
    <div class="barrier"></div>
<!--    <div class="mini_consortium">-->
<!--      <div class="heading_primary u-text-underline__sand ">-->
<!--        Project Consortium-->
<!--      </div>-->
<!--      <div class="keen-slider u-margin-top" #memberSlider>-->
<!--        <div class="keen-slider__slide u-justify-center">-->
<!--          <img class="mini_consortium__members" src="assets/images/consortium/KTH%201.png">-->
<!--        </div>-->
<!--        <div class="keen-slider__slide u-justify-center">-->
<!--          <img class="mini_consortium__members" src="assets/images/consortium/Mask%20group.png">-->
<!--        </div>-->
<!--        <div class="keen-slider__slide u-justify-center">-->
<!--          <img class="mini_consortium__members" src="assets/images/consortium/MPISS%201.png">-->
<!--        </div>-->
<!--        <div class="keen-slider__slide u-justify-center">-->
<!--          <img class="mini_consortium__members" src="assets/images/consortium/NLR%201.png">-->
<!--        </div>-->
<!--        <div class="keen-slider__slide u-justify-center">-->
<!--          <img class="mini_consortium__members" src="assets/images/consortium/Siemens%201.png">-->
<!--        </div>-->
<!--        <div class="keen-slider__slide u-justify-center">-->
<!--          <img class="mini_consortium__members" src="assets/images/consortium/tue%201.png">-->
<!--        </div>-->
<!--        <div class="keen-slider__slide u-justify-center">-->
<!--          <img class="mini_consortium__members" src="assets/images/consortium/UU%201.png">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <section class="page" id="news">
        <div class="wrapper_news">
            <h1 class="heading_primary u-text-underline__sand">
                Recent News
            </h1>
            <div class="wrapper_news__box">
            <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw"
               data-width="1000"
               data-height="700"
               data-tweet-limit="6"
               data-show-replies="false"
               data-aria-polite="assert"
               data-chrome="noheader"
               data-widget_type="grid"
            >
                Tweets from SymAware
            </a>
        </div>
        </div>
    </section>

</div>

<ul id="pagination" class="a-fade-in">
    <li><a (click)="scrollTo('landing')"></a></li>
    <li><a (click)="scrollTo('consortium')"></a></li>
    <li><a (click)="scrollTo('news')"></a></li>
</ul>
